body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

.app {
  height: 100vh;
}

.tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.chat-list {
  flex-grow: 2;
  height: 100%;
  overflow-x: auto;
  padding: 10px;
}

.list-item {
  max-width: 90%;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}
